<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>distccd-rpi</string>
		<key>Program</key>
		<string>/Users/YOUR_USER_NAME/Scripts/launchd-distccd.sh</string>
		<key>RunAtLoad</key>
		<true/>
	</dict>
</plist>
<!--this file goes in /Library/LaunchDaemons/distccd-rpi.plist -->